<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Hands-on Lab : Web Scraping**

Estimated time needed: **30 to 45** minutes

## Objectives

In this lab you will perform the following:

* Extract information from a given web site
* Write the scraped data into a csv file.

## Extract information from the given web site
You will extract the data from the below web site: <br>

In [ ]:
#this url contains the data you need to scrape
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/datasets/Programming_Languages.html"

The data you need to scrape is the **name of the programming language** and **average annual salary**.<br> It is a good idea to open the url in your web broswer and study the contents of the web page before you start to scrape.

Import the required libraries

In [ ]:
# Your code here
from bs4 import BeautifulSoup
import pandas as pd
import requests

Download the webpage at the url

In [ ]:
#your code goes here
data  = requests.get(url).text

Create a soup object

In [ ]:
#your code goes here
soup = BeautifulSoup(data,"html.parser")
table = soup.find('table')
languages = []

Scrape the `Language name` and `annual average salary`.

In [ ]:
#your code goes here
for row in table.find_all('tr'): # in html table row is represented by the tag <tr>
    # Get all columns in each row.
    cols = row.find_all('td') # in html a column is represented by the tag <td>
    language_name = cols[1].getText() # store the value in column 2
    annual_avg_salary = cols[3].getText() # store the value in column 4
    languages.append(language_name +','+ str(annual_avg_salary).replace(',',''))



languages

['Language,Average Annual Salary',
 'Python,$114383',
 'Java,$101013',
 'R,$92037',
 'Javascript,$110981',
 'Swift,$130801',
 'C++,$113865',
 'C#,$88726',
 'PHP,$84727',
 'SQL,$84793',
 'Go,$94082']

Save the scrapped data into a file named *popular-languages.csv*

In [ ]:
# your code goes here
df = pd.DataFrame(languages)
df.to_csv('popular-languages.csv', header= False, index=False, encoding='utf-8', sep='\t')
pd.read_csv('popular-languages.csv')

                         Language  Average Annual Salary
Python                       $114                  383.0
Java                         $101                   13.0
R                             $92                   37.0
Javascript                   $110                  981.0
Swift                        $130                  801.0
C++                          $113                  865.0
C#                            $88                  726.0
PHP                           $84                  727.0
SQL                           $84                  793.0
Go                            $94                   82.0
Language    Average Annual Salary                    NaN
Python                    $114383                    NaN
Java                      $101013                    NaN
R                          $92037                    NaN
Javascript                $110981                    NaN
Swift                     $130801                    NaN
C++                       $113865                    NaN
C#                         $88726                    NaN
PHP                        $84727                    NaN
SQL                        $84793                    NaN
Go                         $94082                    NaN

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

|  Date (YYYY-MM-DD) |  Version | Changed By  |  Change Description |
|---|---|---|---|
| 2020-10-17  | 0.1  | Ramesh Sannareddy  |  Created initial version of the lab |

 Copyright &copy; 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01).